.title{
    font-family: 'font','Helvetica Neue', arial, sans-serif;
    font-size: 3em;
    margin-bottom: 1em;
    line-height: 1;
}

a{
    color: black;
    cursor: ne-resize;
}

a:hover{
    text-decoration: none;
}