@import "variables.scss";
@import "timeline.scss";
@import "default.scss";


@font-face {
    font-family: 'font'; 
    src: url('../public/fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontL'; 
    src: url('../public/fonts/NeueMontreal-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'fontM'; 
    src: url('../public/fonts/NeueMontreal-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


#root {
    width: 100%;
    height: 100%;
    
}

.main-container {
    width: 100%;
    height: 100%;  
}

html, body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    background: white;
    font-family: 'font','Helvetica Neue', arial, sans-serif;
    font-size: 27px;

}

