.timeline-container{
    width: 100vw;
    height: 100vh;

    background: $bg2;
}

.timeline-year{
    margin-top: $lh;
    padding-left: $lh;
    width: 500px;
    float: left;

    font-size: 50px;
    font-family: 'font', sans-serif;
}