$lh: 1em;
$bg1: rgb(182, 222, 179);
$bg2: rgb(182, 182, 182);
$bg3: rgb(146, 139, 244);

$bg-gray: rgb(240, 240, 240);
$bg-gray-light: rgb(230, 230, 230);
$bg-gray-medium: rgb(210, 210, 210); 
$bg-gray-dark: rgb(150, 150, 150);
$bg-green: #505f47;
$bg-red: #f6d8d8;

$links: rgb(126, 159, 123);


$firstbreak: 1500px;
$secondbreak: 1300px;


$left-timeline-margin: 0.8rem;

$radius1: 1rem;


$gray1: rgb(240, 240, 240);
$gray2: rgb(230, 230, 230);
$gray3: rgb(220, 220, 220);
$gray4: rgb(210, 210, 210);
$gray5: rgb(200, 200, 200);

$gray6: rgb(190, 190, 190);
$gray7: rgb(180, 180, 180);
$gray8: rgb(170, 170, 170);
$gray9: rgb(160, 160, 160);
$gray10: rgb(150, 150, 150);

