@import "../../style/variables.scss";


.ui-close-button{
    position: fixed;
    top: 0.6em;
    right: 0.6em;
    width: 1.8em;
    height: 1.8em;
    background-image: url('../../public/ui/close.svg');

    cursor: pointer;

    transition: 0.3s;
}

.ui-close-button:hover{
    opacity: 0.5;
}

.ui-landing-intro-button{
    margin-right: 1em;
    background: white;
    padding: 0.5em 1.5em 0.5em 1.5em;

    font-size: 0.8em;
    border-radius: 2em;

    cursor: pointer;

    transition: 0.3s;
}

.ui-landing-intro-button:hover{
    background: $bg-gray;
    // color: white;
}