@import "../../style/variables.scss";

// intro

.intro-container {
    background: $gray1;
    position: relative;
    display: flex;
    align-items: flex-start;
}

// –––––––––––––– HEADER

.intro-header-container {
    position: absolute;
    width: 100vw;
    padding: 3rem 5vw 1rem 5vw;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 1500px) {
        align-items: center;
    }
    @media screen and (max-width: $phone-break) {
        padding: 1rem 5vw 1rem 5vw;
    }
}

// Buttons

.intro-buttons-container {
    display: flex;
}

.intro-button {
    margin-right: 1rem;
    background: white;
    transition: 0.3s;
    text-decoration: none;
    @media screen and (max-width: $medium-tablet-break) {
        margin-right: 0.5rem;
    }
}

.intro-button:hover {
    background: $gray1;
}

// Logos

.intro-logo-container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1500px) {
        flex-direction: row;
    }
}

.intro-logo {
    width: 7rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;

    @media screen and (max-width: 1500px) {
        width: 5rem;
        margin-bottom: 0rem;
    }
    @media screen and (max-width: $medium-tablet-break) {
        height: 3rem;
        margin-left: 0.2rem;
        width: auto;
    }
    @media screen and (max-width: $phone-break) {
        height: 2rem;
    }
}

// –––––––––––––– TEXT

.intro-text-container {
    background-color: $gray1;
    padding: 8rem 5vw 1rem 5vw;
    box-sizing: border-box;
    @media screen and (max-width: $phone-break) {
        padding: 5rem 5vw 1rem 5vw;
    }
}

.intro-text {
    margin-top: 1em;
    max-width: 1000px;
}
