@import "../../../style/variables.scss";

.filter-container{
    background-color: $bg-gray;
}

.filter-button-container{
    margin-left: $left-timeline-margin;
    padding-left: 5rem;
    background-color: white;
    display: flex;


    // background-color: brown;
}



.filter-button{
    // background: $bg-gray-light;
    border: 1px solid $gray5;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin-right: 0.5rem;

    font-size: 0.9em;
    border-radius: 2rem;

    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.filter-button:hover{
    background: $gray1;
}

.filter-button:active{
    background: $gray4;
    border: 1px solid $gray4;
}


.filter-button-selected{
    background: $gray5;
    border: 1px solid $gray5;
    transition: 0.2s;
}

.filter-button-selected:hover{
    background: $gray4;
    border: 1px solid $gray4;
}

.filter-button-selected:active{
    background: $gray1;
}