@import "../../../style/variables.scss";

.filter-container{
    padding: 3rem 0rem;
    @media screen and (max-width: $medium-tablet-break) {
        padding: 3rem 0rem 2rem 0rem;
    }
}

.filter-button-container{
    display: flex;
    justify-content: center;
}

.filter-button-unselected{
    margin-right: 0.5rem;
    transition: 0.1s;
    background: $gray2;
}

.filter-button-unselected:hover{
    background: $gray3;
}

.filter-button-unselected:active{
    background: $gray6;
    // border: 1px solid $gray4;
}


.filter-button-selected{
    margin-right: 0.5rem;
    transition: 0.2s;
    background: $gray7;
    // border: 1px solid $gray5;
}

.filter-button-selected:hover{
    background: $gray7;
    // border: 1px solid $gray4;
}

.filter-button-selected:active{
    background: $gray3;
}