@import "../../style/variables.scss";

.template-container {
    width: 100vw;
    height: 100vh;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    z-index: 200;

    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;

    padding: 3rem;
    box-sizing: border-box;
}

// ----- title

.template-title-container {
    font-family: "font", "Helvetica Neue", arial, sans-serif;
    width: 100%;
    // to allow \n from json
    white-space: pre-line;
}

.template-title{
    font-size: 3rem;
    line-height: 100%;
}
.template-subtitle{
    font-size: 1rem;
    line-height: 120%;
    margin-top: 1rem;
    padding-right: 50%;
}

// ----- body

.template-body-container{
    display: flex;
    flex-wrap: wrap;
}

.template-text {
    pointer-events: none;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-right: 2rem;
    width: 50%;
    
    box-sizing: border-box;
    // to allow \n from json
    white-space: pre-line;

    @media only screen and (max-width: $secondbreak) {
        width: 100%;
        padding: 0;
    }
}

.template-image-container {
    margin-bottom: 3em;
    margin-top: 3em;
    padding-left: 2rem;
    box-sizing: border-box;
    width: 50%;
    
    @media only screen and (max-width: $secondbreak) {
        width: 100%;
        padding: 0;
    }
}

.template-image{
    max-width: 100%;
    max-height: 65vh;
    border-radius: $radius1;
}



.template2-image-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-bottom: 3em;
    margin-top: 3em;
    box-sizing: border-box;
    width: 100%;
    
    @media only screen and (max-width: $secondbreak) {
        width: 100%;
        padding: 0;
    }
}

.template2-image{
    max-width: calc(50% - 0.5rem);
    height: auto;

    box-sizing: border-box;
    margin: 0rem 0.5rem 0.5rem 0rem;
    border-radius: $radius1;
}

