@import "../../style/variables.scss";

.landing-container{
    width: 100vw;
}

// intro

.landing-intro-container{
    background: $bg-gray;
    padding: 6em 3em 1em 3em;
}

.landing-intro-text{
    padding-right: 20em;
}

.landing-intro-buttons{
    width: 100%;
    margin-bottom: 3em;
    display:flex;
}

// books

.landing-books-container{
    width: 100%;
    background: $bg-gray;
    padding: 4em 3em 5em 3em;
    display:flex;
}

.book-wrap{
    position: relative;
    margin-right: -3em;
    width: calc((100vw - 6em)/15 + 3em/15*14);
}

.book-image{
    width: 100%;
    filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.30));
    transition: 0.4s;
    transition-timing-function: ease;
}

.book-label{
    font-size: 0.5em;
    font-family: 'fontm';

    position: absolute;
    top: -8em;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    pointer-events: none;
    /* transition effect. not necessary */
    // transition: opacity .3s, visibility .3s;
    transition-timing-function: ease;
}

.book-image:hover { 
    transform: translateY(-1.5em);
}

.book-wrap:hover .book-label {
    visibility: visible;
    opacity: 1;
  }


// transition

.landing-transition-bg{
    background-color: $bg-gray;
    height: 4em;
    width: 100vw;
}

.landing-transition-white{
    background-color: white;
    top: 0;
    right: 0;
    width: 100vw;
    margin-left:1em;
    height: 100%;
    border-radius: 4em 0 0 0;
}

// timeline

.landing-timeline-container{
    margin-left: 3em;
    margin-right: 2em;
    background-color: burlywood;

    display: flex;
    flex-wrap: wrap;
}

.year-container{
    height: auto;
    background-color: cadetblue;
}

.year-1{
    width: calc((100vw - 5rem) /3);
}

.year-2{
    width: calc((100vw - 5rem) /3*2);
}

.year-3{
    width: calc(100vw - 5rem)
}


.year-title{
    font-size: 2rem;
    padding-left: 1rem;
    height: 4rem;
    background-color: coral;
}

.tiles-container{
    display:flex;
}

.tile-image{
    width: calc((100vw - 5rem) /3 - 1rem);
    height: auto;
    margin-right: 1rem;
    box-sizing:border-box;

    border-radius: $lh;
}
